#titlebar
{
  padding-top: 150px;
  margin-bottom: 65px;
}

.titlebar__title
{
  font-size: 30px;
  line-height: 40px;
  margin: 1px 0 3px 0;
  text-align: center;
}

.welcome-text
{
  text-align: center;
  margin-bottom: 33px;
  color: #808080;
}

.welcome-text__header
{
  font-size: 26px;
  font-weight: 700;
}

.welcome-text span
{
  display: block;
  margin-top: 4px;
}

.login-register-container
{
  max-width: 474px;
  margin: auto;

  margin-bottom: 243px;
}

.login-register-container__input_wrapper
{
  display: flex;
  height: 48px;
  padding: 3px 20px 0 20px;
  margin-bottom: 16px;

  align-items: center;

  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  background-color: white;
}

.login-register-container__form__submit
{
  width: 100%;
  height: 44px;
  border-radius: 4px;

  font-size: 18px;
  font-family: "Nunito";
  background-color: #2a41e8;
}