<header>
  <div class="left-side">
    <div id="logo">
      <img src="../../../assets/logo.png">
    </div>
    <nav id="navigation">
      <ul>
        <li><a>Home</a></li>
        <li><a>Find Work</a></li>
        <li><a>For Employers</a></li>
        <li><a>Dashboard</a></li>
        <li><a>Pages</a></li>
      </ul>
    </nav>
  </div>
  <div class="right-side">
    <div class="header-widget">
      <a class="log-in-button">
        <span class="icon-log-in"></span>
        <span>
          Log In / Register
        </span></a>
    </div>
  </div>
</header>