<header id="header">
  <div class="left-side">
    <div id="logo">
      <img src="../../../assets/logo.png">
    </div>
    <nav id="navigation">
      <ul>
        <li><a class="navigation__item">Home</a></li>
        <li><a class="navigation__item">Find Task</a></li>
        <li><a class="navigation__item">Post a Task</a></li>
        <li>
          <a class="navigation__item expandible" [matMenuTriggerFor]="dashboard">Dashboard</a>
          <mat-menu class="navigation__dropdown" #dashboard="matMenu">
            <a class="navigation__item_inner">My Page</a>
            <a class="navigation__item_inner">Messages</a>
            <a class="navigation__item_inner">Reviews</a>
            <a class="navigation__item_inner">Tasks</a>
            <a class="navigation__item_inner">Settings</a>
          </mat-menu>
        </li>
      </ul>
    </nav>
  </div>
  <div class="right-side">
    <div class="header-widget">
      <a class="log-in-button">
        <span class="icon-log-in"></span>
        <span>
          Log In / Register
        </span></a>
    </div>
  </div>
</header>