#wrapper
{
  padding-top: 82px;
}

.container
{
  position: relative;
  max-width: 1210px;
  
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  z-index: 100;
}