@import url("../../core/layout/main-layout/main-layout.component.css");

.intro-banner
{
  min-height: 600px;
  padding: 105px 0;
  box-sizing: border-box;
}

.intro-banner::before,
.intro-banner::after
{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 15;
  background: linear-gradient(to right,
      rgba(250, 250, 250, 1) 20%,
      rgba(250, 250, 250, .95) 50%,
      rgba(250, 250, 250, 0.1) 80%,
      rgba(250, 250, 250, 0) 100%);
}

.intro-banner::after
{
  z-index: 5;
  background-color: #fafafa;
}

.intro-banner
{
  position: relative;
  z-index: 100;
}

.background-image-container
{
  position: absolute;
  top: 0;
  height: 100%;
  width: 90%;
  left: 10%;
  z-index: 10;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 60%;
  background-image: url("../../../assets/images/home-background.jpg");

  overflow: hidden;
}

.banner-headline
{
  max-width: 55%;
}

.banner-headline h3
{
  font-size: 28px;
  font-weight: 300;
  color: #777;
  line-height: 42px;
}

.banner-headline strong
{
  font-weight: 600;
  color: #333;
}

.color
{
  color: #2a41e8 !important;
}

.intro-banner__field-title
{
  background-color: #2a41e8;
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 22px;
}

.intro-banner__search-form_wrapper
{
  display: flex;
  align-items: center;
  flex: 1;
}

.intro-banner__search-form_wrapper.right-border
{
  border-right: 1px solid #e4e4e4;
}

.intro-banner__search-form
{
  display: flex;
  height: 68px;
  margin-top: 95px;

  font-size: 18px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.09);
}

.intro-banner__search-form__form-field
{
  padding: 20px 27px;
  flex: 1;
}

.intro-banner__field-title
{
  position: absolute;
  top: 0;
  color: #fff;
  transform: translateY(calc(-100% - 15px));
}

.intro-banner__search-form__button
{
  margin: 8px;
  min-width: 115px;
  border-radius: 4px;

  font-size: 18px;
  font-family: "Nunito";
  background-color: #2a41e8;
}

.popular-categories
{
  min-height: 165px;
}