<div id="titlebar">
  <div class="container">
    <div class="row">
      <h2 class="titlebar__title">Log In</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="login-register-container">
      <div class="welcome-text">
        <h3 class="welcome-text__header">We're glad to see you again!</h3>
        <span>
          Don't have an account?
          <a routerLink="/registration">Sign up!</a>
        </span>
      </div>
      <form id="login-register-container__form" method="post" [formGroup]="loginForm">
        <input class="login-register-container__input" placeholder="Email Address" type="email" id="email"
          formControlName="email">
        <input class="login-register-container__input" placeholder="Password" type="password" id="password"
          formControlName="password">
        <button type="submit" mat-flat-button color="primary" class="login-register-container__form__submit"
          (click)="onSubmit()">
          Log In
        </button>
      </form>
    </div>
  </div>
</div>