<div id="titlebar">
  <div class="container">
    <div class="row">
      <h2 class="titlebar__title">Register</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="login-register-container">
      <div class="welcome-text">
        <h3 class="welcome-text__header">Let's create your account!</h3>
        <span>
          Already have an account?
          <a routerLink="/login">Log In!</a>
        </span>
      </div>
      <form id="login-register-container__form" method="post">
        <div class="login-register-container__input_wrapper">
          <mat-form-field appearance="legacy" [floatLabel]="'never'">
            <mat-label>Email Address</mat-label>
            <input type="email" id="email" matInput>
          </mat-form-field>
        </div>
        <div class="login-register-container__input_wrapper">
          <mat-form-field appearance="legacy" [floatLabel]="'never'">
            <mat-label>Password</mat-label>
            <input type="password" id="password" matInput>
          </mat-form-field>
        </div>
        <div class="login-register-container__input_wrapper">
          <mat-form-field appearance="legacy" [floatLabel]="'never'">
            <mat-label>Repeat Password</mat-label>
            <input type="password" id="password" matInput>
          </mat-form-field>
        </div>
        <button type="submit" mat-flat-button color="primary" class="login-register-container__form__submit">
          Register
        </button>
      </form>
    </div>
  </div>
</div>