<div id="titlebar">
  <div class="container">
    <div class="row">
      <h2 class="titlebar__title">Register</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="login-register-container">
      <div class="welcome-text">
        <h3 class="welcome-text__header">Let's create your account!</h3>
        <span>
          Already have an account?
          <a routerLink="/login">Log In!</a>
        </span>
      </div>
      <form id="login-register-container__form" method="post">  
        <input class="login-register-container__input" placeholder="Email Address" type="email" id="email">
        <input class="login-register-container__input" placeholder="Password" type="password" id="password">
        <input class="login-register-container__input" placeholder="Repeat Password" type="password" id="password">
        <button type="submit" mat-flat-button color="primary" class="login-register-container__form__submit">
          Register
        </button>
      </form>
    </div>
  </div>
</div>