<div id="titlebar">
  <div class="container">
    <div class="row">
      <h2 class="titlebar__title">Register</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="login-register-container">
      <div class="welcome-text">
        <h3 class="welcome-text__header">Let's create your account!</h3>
        <span>
          Already have an account?
          <a routerLink="/login">Log In!</a>
        </span>
      </div>
      <form id="login-register-container__form" method="post" [formGroup]="registerForm">
        <input id="first-name" class="login-register-container__input" type="text" placeholder="First Name"
          [ngClass]="{ 'invalid': submitted && !isControlValid('firstName') }" formControlName="firstName">
        <input id="last-name" class="login-register-container__input" type="text" placeholder="Last Name"
          [ngClass]="{ 'invalid': submitted && !isControlValid('lastName') }" formControlName="lastName">
        <input id="email" class="login-register-container__input" type="email" placeholder="Email Address"
          [ngClass]="{ 'invalid': submitted && !isControlValid('email') }" formControlName="email">
        <input id="password" class="login-register-container__input" type="password" placeholder="Password"
          [ngClass]="{ 'invalid': submitted && !isControlValid('password') }" maxlength="32" formControlName="password">
        <input id="repeat-password" class="login-register-container__input" type="password"
          placeholder="Repeat Password" maxlength="32"
          [ngClass]="{ 'invalid': submitted && !isControlValid('repeatPassword') }" formControlName="repeatPassword">
        <button class="login-register-container__form__submit" type="submit" color="primary" mat-flat-button
          (click)="onSubmit()">
          Register
        </button>
      </form>
    </div>
  </div>
</div>