html,
body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6
{
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 500;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input
{
  font-family: "Nunito", Arial, sans-serif;
  text-transform: none;
}

input
{
  padding: 0;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
  caret-color: rgb(128, 128, 128);
}

input.invalid
{
  border-color: red !important;
}

input:focus
{
  outline: none;
}

input::placeholder
{
  color: #808080;
  opacity: 1;
}

a
{
  transition: 0.3s;
  text-decoration: none;
  color: #2a41e8;
}

a:hover
{
  color: #333;
}

.navigation__dropdown
{
  background-color: #303030;
}

/* Переопределение стилей Angular Material */

.navigation__dropdown .mat-menu-content
{
  display: flex;
  flex-direction: column;
}

.mat-form-field
{
  display: flex !important;
  align-items: center !important;
  width: 100%;
}

.mat-form-field-wrapper
{
  padding: 0 !important;
  flex: 1;
}

.mat-form-field-underline
{
  background: none !important;
}

.mat-form-field-infix
{
  border: none !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple
{
  background-color: transparent !important;
  transition: none !important;
}

.mat-form-field label
{
  color: #888 !important;
}

.mat-form-field input
{
  color: #666 !important;
}

.mat-input-element
{
  caret-color: rgb(128, 128, 128) !important;
}

.mat-form-field,
.mat-select,
.mat-option
{
  font-family: "Nunito", Arial, sans-serif;
  text-transform: none;
}

.mat-select-placeholder
{
  transition: none !important;
}

.mat-option,
.mat-select-value
{
  color: #888 !important;
}