html,
body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;

  font-family: "Nunito", Arial, sans-serif;
  text-transform: none;
}

a
{
  text-decoration: none;
}

.navigation__dropdown
{
  background-color: #303030;
}

.navigation__dropdown .mat-menu-content
{
  display: flex;
  flex-direction: column;
}